body{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(22,15,51,1));
    color: white;
    height: 100%;
    width: 100%;
    margin: 0%;
}
h1{
    background-image: url(./amigo.png);
    text-align: center;
    font-family: serif;
    padding: 10px;
}
h2{
    text-align: center;
    margin-top: 30px;
}
h4{
    border-bottom: 2px solid gray;
}
p{
    padding: 0 45px; text-indent: 15px;
}
figure{
    text-align: center;
    padding: 15px; margin: 30px;
    border-radius: 20px;
}
img{
    margin-left: auto; margin-right: auto; width: 300px;
    border-radius: 20px;
}
.logo {
    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px whitesmoke;
}
p::first-letter{
    font-weight: bold;
}
h2+p{
    text-indent: 0px;
}
p::first-line{
    font-stretch: small-caps;
}
video {
    width: 50%;
    height: auto;
}
.texto {
    margin: 2%;
}