.dpainel{
    background-color: purple;
    width: 800px;
    height: 600px;
    position: relative;
}
#imgj{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 350px;
    bottom: 300px;
}