body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
}
.menu-opc ul{
    font-size: 20px;
}
.menu-opc a{
    color: #003366;
}
#logo{
    width: 300px;
    height: 100px;
}
.container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.menu-opc{
    position: absolute;
    top: 0px;
    right: 0px;
}

.menu-opc ul li{
    display: inline;
    margin-left: 20px;
}
.painel{
    width: 40%;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 20px;
}
.aula1{
    float: left;
    background-color: crimson;
}
.aula2{
    float: right;
    background-color: dodgerblue;
}
.painel li{
    display: inline-block;
    width: 35%;
    vertical-align: top;
    margin: 2px;
    padding-bottom: 10px;
}

.painel h2{
    font-size: 20px;
}

.painel a {
    color: purple;
    font-size: medium;
    text-align: center;
}