* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: aqua;
    text-align: center;
    font-family: monospace;
}

main{
    margin-top: 10px;
    display: inline-block;
    padding: 15px;
}
#img_pokedex{
    width: 100%;
    max-width: 425px;
}
.container {
    position: relative;
}
#img_pokemon{
    position: absolute;
    bottom: 47%;
    left: 30%;
    height: 20%;
}
.poke_data1 {
    position: absolute;
    bottom: 40%;
    right: 25%;
}
.poke_data2 {
    position: absolute;
    bottom: 15%;
    left: 20%;
}
.form_busca
{
    position: absolute;
    bottom: 32%;
    left: 10%;
    width: 70%;
}
#input_name{
    width: 100%;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -3px 4px 0 gray, -5px 6px 0 rgb(51, 51, 51);
}
.buttons {
    position: absolute;
    top: 88%;
    right: 20%;
    width: 65%;
    display: flex;
    gap: 30px;
}
.button{
    font-family: monospace;
    color: white;
    font-size: large;
    width: 100%;
    height: 100%;
    padding: 7px;
    border: 2px solid black;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    box-shadow: -3px 4px 0 rgb(51, 51, 51), -5px 6px 0 black;
}