body{
    font-family: 'Sedwick Ave', cursive;
}
#left{
    background-color: tomato;
    float: left;
    width: 49%;
    height: 500px;
}

img {
    width: 300px;
    height: 300px;
}

#left h1{
    color: yellow;
    text-align: center;
}

#right{
    float: right;
    width: 49%;
    height: 500px;
}
footer p {
    text-align: center;
}
table, th, td {
    border:1px solid black
}