body{
    background-color: aquamarine;
}
@media screen and (min-width: 480px) and (max-width: 720px)
{
    body{background-color: violet;}
}
@media screen and (min-width: 720px) and (max-width: 1024px)
{
    body{background-color:darkred;}
    h1::after{content: "Spoiler! Ele não venceu";}
}
@media screen and (min-width: 1024px) and (max-width: 1200px)
{
body{background-color: purple;}
}
